<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.lostpets"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>439 Productions</name>
  <icon src="icon.png"/>
  <description>
      439 Productions
  </description>

  <author href="https://build.phonegap.com" email="#">
      Tim van Ieperen
  </author>
	 <plugin name="cordova-plugin-whitelist" source="npm"/>

<allow-navigation href="*" />
<preference name="android-minSdkVersion" value="27" />
</widget>